.main {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.center p{
  margin-top: 2rem;
}
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.navbar ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}
.navbar ul li{
  margin: 2rem;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}




